.fun-page
  .row-fluid
    .span3.image
      = link_to 'http://www.youtube.com/watch?v=znxFrgql5dc' do
        = image_tag('http://3.bp.blogspot.com/-JjP3ZTuSiWw/UKZ8KDkUcAI/AAAAAAAAHcE/EhSjphX6ER4/s400/Browncoats_by_outlawink.png')
      = link_to 'http://youtu.be/9Ms3ZN7kuI8?t=6s' do
        = image_tag('http://img692.imageshack.us/img692/7113/69532158.gif')
    .span3.image
      = link_to 'http://youtu.be/gbPUiaRnQkU?t=3s' do
        = image_tag('http://images.cdn.bigcartel.com/bigcartel/product_images/47313543/max_h-1000+max_w-1000/LIFE-AQUATIC-.png')
    .span3.image
      = link_to 'http://en.wikipedia.org/wiki/Foundation_series' do
        = image_tag('http://ansionnachfionn.files.wordpress.com/2011/05/isaac-asimov_s-foundation-series.jpg')
  .row-fluid
    .span3.image
      = link_to 'http://coffitivity.com' do
        = image_tag('http://cdn.foodbeast.com.s3.amazonaws.com/content/wp-content/uploads/2013/03/Coffhaus3.png')
    .span3.image
      = link_to 'http://www.bringinthecats.com/' do
        = image_tag('http://cantbethatbad.com/wp-content/uploads/2013/06/bringinthecats.jpg')
    .span3.image
      = link_to 'http://www.dailymotion.com/embed/video/x12u56m?start=10' do
        = image_tag('http://o.scdn.co/300/550851983180ea7e3981f14667309168b86ec6c3')
  .row-fluid
    .span3.image
      = link_to 'http://funswitcher.com' do
        = image_tag('http://www.renatoseixas.com/system/images/images/51/normal.jpg')
    .span3.image
      = link_to 'http://www.youtube.com/watch?v=ct2AWh-nKSk' do
        = image_tag('http://images.amcnetworks.com/ifc.com/wp-content/uploads/2011/03/WKUK_vector-logo_bklow.jpg')
    .span3.image
      = link_to 'http://make-everything-ok.com/' do
        = image_tag('http://make-everything-ok.com/images/magic-button-prew.jpg')
  .row-fluid
    .span3.image
      = link_to 'http://www.youtube.com/watch?v=jofNR_WkoCE' do
        =image_tag('http://www.qrpfoxhunt.org/fox_hunt_logo.jpg')
    .span3.image
      = link_to 'http://www.math.rutgers.edu/~lenci/jokes/chicken' do
        = image_tag('http://www.inspire21.com/sites/default/files/files/images/chicken-crossing.jpg?1266942931')
