/ Modal
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-body
    - url = "#{request.protocol}#{request.host_with_port}#{asset_path("assets/Dan_Reynolds_Resume.pdf")}"
    %iframe{frameborder: "0", src: "http://docs.google.com/gview?url=#{url}&embedded=true", style: "width:1170px; height:800px;"}

.profile
  .et-wrapper
    .et-page(id="page-0")
      .container-fluid.content
        .row-fluid.text
          .span12 Dan Reynolds
        .row-fluid.buttons
          %nav.cl-effect-14
            .span4
              .et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 1}
                = link_to "Work", root_url, class: 'local'
            .span4.et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 2}
              = link_to "Projects", root_url, class: 'local'
            .span4.et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 3}
              = link_to "Fun", root_url, class: 'local'
      .row-fluid
        .span12
          = render 'layouts/footer'
    - @transitions.first(3).each_with_index do |page, i|
      .et-page(id="page-#{i+1}")
        .container-fluid.content
          - if i == 2
            .row-fluid
              .span9.offset3.fun
                Wall of Fun
          .row-fluid
            .span3
              .side-bar
                %ul
                  %li.text.et-rotate{"et-in" => "#{@transitions[1].first}", "et-out" => "#{@transitions[1].last}", value: 0}
                    =link_to 'Dan Reynolds', root_url, class: 'local name'
                  %nav.cl-effect-1
                    %li
                      .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 1}
                        = link_to "Work", root_url, class: "local #{(i+1)==1}"
                    %li
                      .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 2}
                        = link_to "Projects", root_url, class: "local #{(i+1)==2}"
                    %li
                      .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 3}
                        = link_to "Fun", root_url, class: "local #{(i+1)==3}"
            .span9
              = render partial: "profile/pages/#{@pages[i]}"
        .row-fluid
          .span12
            = render 'layouts/footer'



