.profile  
  .et-wrapper
    .et-page(id="page-0")
      .container-fluid.content
        .row-fluid.text
          .span12 Dan Reynolds
        %nav.cl-effect-14
          .row-fluid.buttons
            .span4
              .et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 1}
                = link_to "Work", root_url
            .span4.et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 2}
              = link_to "Projects", root_url
            .span4.et-rotate{"et-in" => "#{@transitions[0].first}", "et-out" => "#{@transitions[0].last}", value: 3}
              = link_to "Fun", root_url

    - @transitions.first(3).each_with_index do |page, i|
      .et-page(id="page-#{i+1}")
        .container-fluid.content
          %nav.cl-effect-1
            .side-bar
              %ul
                %li.text
                  Dan Reynolds
                %li
                  .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 1}
                    = link_to "Work", root_url
                %li
                  .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 2}
                    = link_to "Projects", root_url
                %li
                  .et-rotate{"et-in" => "#{@transitions[i+1].first}", "et-out" => "#{@transitions[i+1].last}", value: 3}
                    = link_to "Fun", root_url


